# Database Configuration
DB_SERVER=db
DB_PORT=1433
DB_NAME=FAI
DB_USER=sa
DB_PASSWORD=YourStrong@Passw0rd

# Authentication
JWT_SECRET=your_jwt_secret_key_min_256_bits_long_for_security

# Admin User Initial Setup 
ADMIN_USERNAME=admin
ADMIN_PASSWORD=secure_password

# Bitcoin Wallet Service
BITCOIN_SEED_PHRASE=your_seed_phrase