**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/docker-compose*
**/Dockerfile*
**/.DS_Store
**/bin
**/obj
**/node_modules
**/npm-debug.log
**/README.md
**/secrets.dev.yaml
**/values.dev.yaml
**/*.dbmdl
**/*.jfm